.mainwidth{width: 1000px;margin-left: auto;margin-right: auto;}
.le{float: left;}
.ri{float: right;}
.po_re{position: relative;}
/*字体*/
.font16{font: normal 16px/16px "微软雅黑";}
.font14{font: normal 14px/14px "微软雅黑";}
.font12{font: normal 12px/18px "新宋体";}
.f12{font: normal 12px/12px "宋体";color: #c2d9f8; }
.tac{text-align: center;}

/*margin*/
.mb10{margin-bottom: 10px;}
/*topbar*/
.topbar{background-color: #f7f7f7;height: 31px;line-height: 31px;}
.le_1{background: url(../img/未标题-1.gif)  left center no-repeat;padding-left: 19px;}
.topbar a:hover{color: red;}

/*logobar*/
.logo{width: 189px;}
.logoimg{margin-top: 10px;margin-left: 30px;}
.logobar{background-color: #1d7ad9;height: 85px;}
.seach{width: 600px;height: 85px;}
.seach_button,.seach_input{margin-top: 25px;}
.seach_input{width: 350px;height: 35px;display: inline-block;position: relative;margin-left: 146px;}
.seachbox{width: 340px;height: 35px;padding: 0 5px;font: normal 14px/35px "微软雅黑";position: absolute;}
.seach_button{height: 35px;}
.seachbut{width: 70px;height: 35px;background-color:#ff8c00;color: #fff;margin:25 0 0 -4px;font-family: "微软雅黑";font-size: 14px;}
.shopcar{width: 146px;height: 35px;background-color:#ff8c00;margin-top: 25px; margin-right: 59px;font: 14px/35px "微软雅黑";color: #fff;}
.shopcartext{display: inline-block; background:  url(../img/shop.gif) 10px no-repeat;l ;height: 35px;float: left;
text-indent: 40px; width: 87px;border-right: solid 1px #000;}
.shopcarnum{display: inline-block;width: 28px;height: 35px;text-align: right; background:  url(../img/num.gif) 34px no-repeat;padding-right: 29px;}

/*botbar*/
.botbar{height: 35px;background-color: #1369c0;font: 14px "微软雅黑";color: #fff; }
.allgood{width: 189px;height: 35px;position: relative;}
.allgood h3{line-height: 35px;text-align: center; }
.allgood i{display: inline-block;margin-left: 10px;width: 12px;height: 8px; background: url(../img/array.gif) no-repeat;}

/*商品分类列表默认*/
.allgood_list{background-color: #4593fd;}
.allgood_list .b{font-size: normal 14px/14px  "微软雅黑";color: #ffffff;}
.allgood_list dt{font:normal 14px/14px "微软雅黑";margin-bottom: 6px;background: url(../img/jiantou.gif) right center no-repeat;}
.allgood_list dd{height: 12px;}
.list_item{padding:13px 10px;border-bottom: 1px solid #3487f2;border-top: 1px solid #5aa1fe;width: 167px;height: 35px;}
.list_item_lastOne{padding-bottom: 25px;}
.list_item .aLink{color: #fff;width: 46px;height: 18px;display: inline-block;margin-left: 11px;background: url(../img/aLink.png) 0px 0px no-repeat;text-decoration: underline;font: normal 12px/18px "新宋体";vertical-align: top;text-align: center;}
.nav li{float: left;width: 100px;height: 35px;}
.nav a{color: #fff;display: inline-block; margin-top: 7.5px;margin-left:  29.5px;}
.nav .active{background-color: #4593fd;}

/*商品列表选中*/
.xuanzhong{background-color: #fff;border-left: 1px solid #4593fd;}
.xuanzhong .b{color: #000 !important;}
.xuanzhong .f12{color: #000;}
.xuanzhong dt{background: none;}
.xuanzhong .aLink{color: #fff !important;text-decoration: none;}
/*弹出的列表*/
.rightBox{position: absolute;left: 189px;top: 35px;width: 570px;border: 1px solid #dddddd;display: none;}
.right_item {margin-top: 16px;border-bottom: 1px solid #e5e5e5;margin-left: 18px;margin-right: 20px;padding-bottom: 12px;}
.right_item dt{height: 14px;color: #4b88da;font-weight:bold;}
.right_item dd{margin-left:67px;margin-top: -14px;padding-right: 26px;}
.right_item a{margin-right: 12px;}
.rightBox .link{margin-left: 18px;}
.rightBox .link a{ display: inline-block;margin: 15px 10px 14px 0; background-color:  #2785e6;color: #fff;padding: 7px 14px 5px 8px;}
.link  span{width: 11px;height: 11px; display: inline-block; background: url(../img/jiantou.gif) right center no-repeat;margin-left: 8px;}
/*焦点图*/
.allgood_jiaodian{position: absolute;left: 189px;top: 35px;width: 811px;height: 325px;}
.allgood_jiaodian .img1{width: 811px;height: 325px;}
/*内容部分样式*/
.content{width: 1000px;margin: 325px auto 0;}
.content_box_title{padding-left: 57px;padding-right: 21px;height: 75px;background: url(../img/icon_1.png)0 15px no-repeat;}
.content_box_title .p1{font: normal 24px/75px "微软雅黑";display: inline-block;}
.content_box_title .p2{font: normal 12px/75px "新宋体";float: right;}
.content_box_body_jiaodiantu{width: 189px;height: 400px;float: left;position: relative;overflow: hidden;}
.content_box_body_jiaodiantu .nav{position: absolute;left: 18px;bottom: 15px;z-index: 22;}
.content_box_body_jiaodiantu .off{width: 20px;height: 5px;background-color: #fff;margin-right: 5px;}
.content_box_body_jiaodiantu .on{background-color: #ff7700;width: 20px;height: 5px;margin-right: 5px;}
.content_box_body_jiaodiantu .imgs{width: 600px;position: absolute;left: 0;font-size: 0;/*hack解决img三像素问题*/}
/*第二块列表的轮播图*/
.content_box_body_jiaodiantu_nav{height: 10px;width: 54px;position: absolute;bottom: 15px;left: 23px;}
.content_box_body_jiaodiantu_nav .nav{height: 10px;width: 10px;margin-right: 8px;float: left;border-radius: 5px;}
.content_box_body_jiaodiantu_nav .off{background-color: #fff; }
.content_box_body_jiaodiantu_nav .on{background-color: #000;}
.content_box_body_jiaodiantu .img_ab{position: absolute;opacity:0;}
.content_box_body_jiaodiantu .img_ab_none{opacity: 0;}
.content_box_body{width: 1002px;}
.content_box_body .B{float: left;}
.content_box_body_list{border-bottom: 3px solid #ff7201;}
.content_box_body_list .box_1{width: 201px;height: 280px;border:1px solid #e5e5e5;border-left: none; }
.content_box_body_list .box_2{width: 201px;height: 115px;border-right:1px solid #e5e5e5;position: relative;}
.content_box_body_list .img_1_style1{margin: 45px 0 0 14px;transition: margin 0.3s linear;}
.content_box_body_list .img_1_style1:hover{margin:45px 0 0 24px;}
.content_box_body_list .img_1_style2{margin: 45px 0 0 31px;transition: margin 0.3s linear;}
.content_box_body_list .img_1_style2:hover{margin:45px 0 0 41px;}
.content_box_body_list .p_1_style1{margin-top: 26px;padding-left: 18px;}
.content_box_body_list .p_1_style2{margin-top: 26px;padding-left: 38px;}
.content_box_body_list .p_2_style1{margin-top: 8px;padding-left: 57px;color:  #ff7201;}
.content_box_body_list .p_2_style2{margin-top: 8px;padding-left: 77px;color:  #ff7201;}
.content_box_body_list .img_2_style1{margin: 26px 0 0 13px;transition: margin 0.3s linear;}
.content_box_body_list .img_2_style2{margin: 26px 0 0 31px;transition: margin 0.3s linear;}
.content_box_body_list .p_3_style1{color:  #ff7201;display:inline-block;position: absolute;top: 31px;margin-left: 8px;}
.content_box_body_list .p_3_style2{color:  #ff7201;display:inline-block;position: absolute;top: 31px;margin-left: 8px;}
.content_box_body_list .p_4_style1{color: #616161;display: inline-block;margin-left: 8px;padding-left: 13px;background: url(../img/￥.png) 0 3px no-repeat;}
.content_box_body_list .p_4_style2{color: #616161;display: inline-block;margin-left: 8px;padding-left: 13px;background: url(../img/￥.png) 0 3px no-repeat;position: absolute;top: 72px;}
/*底部区域*/
.footer{margin: 41px 0 7px;height: 223px;background-color: #d4d4d4;}
.footer .p_1{padding-top: 51px;}
.footer_icon{margin: 33px auto 0 ;width: 608px;padding-left: 24px;}
.footer_icon .C{float: left;margin-right: 24px;}
